p {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
map > area {
  outline: none;
}
.ts0 {
  color: Black;
}
.ts1 {
  font-family: Verdana;
  color: Black;
}
.ts2 {
  font-family: Verdana;
  font-size: 14pt;
  font-weight: bold;
  color: Black;
}
.ts3 {
  font-family: Tahoma;
  color: Black;
}
.ts4 {
  font-family: Tahoma;
  font-size: 20pt;
  color: Black;
}
.ts5 {
  font-family: Tahoma;
  font-size: 26pt;
  font-weight: bold;
  text-decoration: underline;
  color: #c0504d;
}
.ts6 {
  font-family: Tahoma;
  color: #7f7f7f;
}
.ts7 {
  font-family: Tahoma;
  font-weight: bold;
  color: #7f7f7f;
}
.ts8 {
  font-family: Tahoma;
  color: Black;
}
.ts9 {
  font-family: Tahoma;
  font-weight: bold;
  color: #1f497d;
}
.ts10 {
  font-family: Tahoma;
  color: #1f497d;
}
.ts11 {
  font-family: Tahoma;
  color: Black;
}
.ts12 {
  font-family: Tahoma;
  font-weight: bold;
  color: Black;
}
.ts13 {
  font-family: Tahoma;
  font-size: 14pt;
  font-weight: bold;
  color: #1f497d;
}
.ts14 {
  font-family: Tahoma;
  font-size: 14pt;
  color: Black;
}
.ts15 {
  font-family: Tahoma;
}
.ts16 {
  font-family: Tahoma;
  font-size: 14pt;
  font-weight: bold;
  color: Black;
}
.ts17 {
  font-family: Tahoma;
  text-decoration: underline;
  color: Black;
}
.ts18 {
  font-family: Tahoma;
  color: #7f7f7f;
}
.ts19 {
  font-family: Tahoma;
  font-size: 14pt;
  font-weight: bold;
  color: #00b050;
}
.ts20 {
  font-family: Tahoma;
  font-weight: bold;
  color: Red;
}
.ts21 {
  font-family: Tahoma;
}
.ts22 {
  font-family: Tahoma;
  font-weight: bold;
  color: #f60000;
}
.ts23 {
  font-family: Tahoma;
  font-size: 14pt;
  font-weight: bold;
  color: Red;
}
.ts24 {
  font-family: Tahoma;
  font-size: 17pt;
  font-weight: bold;
  color: Black;
}
.ts25 {
  font-family: Tahoma;
  font-weight: bold;
  color: #00b050;
}
.ts26 {
  font-family: Tahoma;
  font-weight: bold;
  color: Black;
}
.ts27 {
  font-family: Tahoma;
  color: Black;
}
.ts28 {
  font-family: Tahoma;
  color: Red;
}
.ts29 {
  font-family: Tahoma;
  color: #00b050;
}
.ts30 {
  font-family: Tahoma;
  font-weight: bold;
  color: #00b050;
}
.ts31 {
  font-family: Tahoma;
  font-style: italic;
  color: #00b050;
}
.ts32 {
  font-family: Tahoma;
  font-weight: bold;
  color: Black;
}
.ts33 {
  font-family: Tahoma;
  font-style: italic;
  color: Black;
}
.ts34 {
  font-family: Tahoma;
  color: Red;
}
.ts35 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts36 {
  font-family: Tahoma;
  font-size: 11pt;
  font-weight: bold;
  color: Black;
}
.ts37 {
  font-family: Tahoma;
  font-size: 11pt;
  color: Black;
}
.ts38 {
  font-family: Tahoma;
  color: #00b050;
}
.ts39 {
  font-family: Tahoma;
  color: #00b050;
}
.ts40 {
  font-family: Tahoma;
  color: #f79646;
}
.ts41 {
  font-family: Tahoma;
  color: Red;
}
.ts42 {
  font-family: Tahoma;
}
.ts43 {
  font-family: Tahoma;
  font-weight: bold;
  color: #0070c0;
}
.ts44 {
  font-family: Tahoma;
  font-weight: bold;
  color: #7f7f7f;
}
.ts45 {
  font-family: Tahoma;
  color: #0070c0;
}
.ts46 {
  font-family: Tahoma;
  font-weight: bold;
  color: #4f81bd;
}
.ts47 {
  font-family: Tahoma;
  font-weight: bold;
  color: Black;
  background-color: Yellow;
}
.ts48 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts49 {
  font-family: 'Courier New';
  font-size: 11pt;
  color: Black;
}
.ts50 {
  font-family: 'Courier New';
  color: Black;
}
.ts51 {
  font-family: 'Courier New';
  font-weight: bold;
  color: Black;
}
.ts52 {
  font-family: Tahoma;
  text-decoration: underline;
  color: #1f497d;
}
.ts53 {
  font-family: Tahoma;
  color: #17365d;
}
.ts54 {
  font-family: Tahoma;
  text-decoration: underline;
  color: #17365d;
}
.ts55 {
  font-family: Tahoma;
}
.ts56 {
  font-family: Consolas;
  font-weight: bold;
  color: Black;
}
.ts57 {
  font-family: Consolas;
  font-weight: bold;
  color: #1f497d;
}
.ts58 {
  font-family: Tahoma;
  font-size: 12pt;
  color: #1f497d;
  background-color: Yellow;
}
.ts59 {
  font-family: Verdana;
  font-size: 14pt;
  font-weight: bold;
  color: Red;
}
.ts60 {
  font-family: 'Segoe UI';
  font-weight: bold;
  color: Black;
}
.ts61 {
  font-family: Verdana;
  font-weight: bold;
  color: #006;
}
.ts62 {
  font-family: 'Segoe UI';
  font-weight: bold;
  color: #006;
}
.ts63 {
  font-family: 'Segoe UI';
  color: Black;
}
.ts64 {
  font-family: 'Segoe UI';
  font-weight: bold;
  color: Black;
}
.ts65 {
  font-family: 'Segoe UI';
  text-decoration: underline;
  color: Black;
}
.ts66 {
  font-family: 'Segoe UI';
  font-weight: bold;
  color: #f60000;
}
.ts67 {
  font-family: 'Segoe UI';
  font-weight: bold;
  color: #0f243e;
}
.ts68 {
  font-family: 'Segoe UI';
  color: #0f243e;
}
.ts69 {
  font-family: 'Segoe UI';
  font-weight: bold;
  color: #070c12;
}
.ts70 {
  font-family: 'Segoe UI';
  color: #070c12;
}
.ts71 {
  font-family: 'Segoe UI';
}
.ts72 {
  font-family: 'Segoe UI';
  font-weight: bold;
  color: Red;
}
.ts73 {
  font-family: 'Segoe UI';
  font-weight: bold;
}
.ts74 {
  font-family: 'Segoe UI';
  font-size: 14pt;
  font-weight: bold;
  color: #002060;
}
.ts75 {
  font-family: 'Segoe UI Semibold';
  font-size: 12pt;
  color: #00b050;
}
.ts76 {
  font-family: 'Segoe UI';
  color: Black;
}
.ts77 {
  font-family: 'Segoe UI';
  color: Red;
}
.ts78 {
  font-family: 'Segoe UI';
}
.ts79 {
  font-family: Consolas;
  font-weight: bold;
  color: #0f243e;
}
.ts80 {
  font-family: Consolas;
  color: Blue;
}
.ts81 {
  font-family: Consolas;
  color: Black;
}
.ts82 {
  font-family: Consolas;
  font-size: 12pt;
  font-weight: bold;
  color: #0f243e;
}
.ts83 {
  font-family: Tahoma;
  font-weight: bold;
  color: #7f7f7f;
}
.ts84 {
  font-family: Consolas;
  color: #a31515;
}
.ts85 {
  font-family: Consolas;
  color: Green;
}
.ts86 {
  font-family: 'Segoe UI';
  font-size: 14pt;
  font-weight: bold;
  color: Black;
}
.ts87 {
  font-family: 'Segoe UI';
  font-weight: bold;
  color: #7f7f7f;
}
.ts88 {
  font-family: 'Segoe UI';
  text-decoration: underline;
  color: Black;
}
.ts89 {
  font-family: 'Segoe UI';
  font-weight: bold;
  color: #002060;
}
.ts90 {
  font-family: 'Segoe UI Semibold';
  font-size: 12pt;
  color: Black;
}
.ts91 {
  font-family: 'Segoe UI Semibold';
  color: #00b050;
}
.ts92 {
  font-family: Consolas;
  color: Black;
}
.ts93 {
  font-family: Consolas;
  font-weight: bold;
  color: #bfbfbf;
}
.ts94 {
  font-family: Consolas;
  font-style: italic;
  color: Black;
}
.ts95 {
  font-family: 'Segoe UI';
  font-weight: bold;
  font-style: italic;
  color: Black;
}
.ts96 {
  font-family: 'Segoe UI';
  font-style: italic;
  color: Black;
}
.ts97 {
  font-family: 'Segoe UI';
}
.ts98 {
  font-family: 'Segoe UI';
  color: #00b050;
}
.ts99 {
  font-family: 'Segoe UI';
  font-weight: bold;
}
.ts100 {
  font-family: 'Segoe UI';
  font-weight: bold;
}
.ts101 {
  font-family: 'Segoe UI';
  color: Black;
  background-color: #eeece1;
}
.ts102 {
  font-family: 'Segoe UI';
  font-size: 12pt;
  font-weight: bold;
  color: #002060;
}
.ts103 {
  font-family: 'Segoe UI';
  font-size: 14pt;
  color: Black;
}
.ts104 {
  font-family: 'Segoe UI';
  font-size: 14pt;
  font-weight: bold;
  color: #7f7f7f;
}
.ts105 {
  font-family: 'Segoe UI';
  font-weight: bold;
  font-style: italic;
  color: #7f7f7f;
}
.ts106 {
  font-family: Consolas;
  font-weight: bold;
  color: Blue;
}
.ts107 {
  font-family: Consolas;
}
.ts108 {
  font-family: 'Segoe UI';
}
.ts109 {
  font-family: Verdana;
  color: Black;
}
.ts110 {
  font-family: Verdana;
  font-weight: bold;
  color: Black;
}
.ts111 {
  font-family: Consolas;
  font-weight: bold;
  color: #a31515;
}
.ts112 {
  font-family: 'Segoe UI Semibold';
  font-weight: bold;
  color: #00b050;
}
.ts113 {
  font-family: Consolas;
  font-weight: bold;
}
.ts114 {
  font-family: Consolas;
  color: Maroon;
}
.ts115 {
  font-family: 'Segoe UI';
  font-style: italic;
}
.ts116 {
  font-family: Consolas;
  color: Blue;
  background-color: #eeece1;
}
.ts117 {
  font-family: Consolas;
  background-color: #eeece1;
}
.ts118 {
  font-family: Consolas;
}
.ts119 {
  font-family: 'Courier New';
  background-color: #eeece1;
}
.ts120 {
  font-family: Tahoma;
  background-color: #eeece1;
}
.ts121 {
  font-family: Verdana;
}
.ts122 {
  font-family: 'Segoe UI';
  text-decoration: underline;
  color: #00b050;
}
.ts123 {
  font-family: 'Segoe UI';
  font-weight: bold;
  color: #00b050;
}
.ts124 {
  font-family: 'Segoe UI Semibold';
}
.ts125 {
  font-family: 'Segoe UI';
  text-decoration: underline;
}
.ts126 {
  font-family: 'Segoe UI';
  font-weight: bold;
  text-decoration: underline;
  color: #00b050;
  background-color: Yellow;
}
.ts127 {
  font-family: 'Segoe UI';
}
.ts128 {
  font-family: Consolas;
  color: Red;
}
.ts129 {
  font-family: Tahoma;
  font-size: 14pt;
  font-weight: bold;
  color: #0070c0;
}
.ts130 {
  font-family: Tahoma;
  color: Black;
  background-color: #e5e5e5;
}
.ts131 {
  font-family: Tahoma;
  font-weight: bold;
  color: Black;
  background-color: #eeece1;
}
.ts132 {
  font-family: Tahoma;
  text-decoration: underline;
}
.ts133 {
  font-family: Consolas;
  color: Blue;
}
.ts134 {
  font-family: Consolas;
  color: Black;
}
.ts135 {
  font-family: Consolas;
  color: Black;
  background-color: Yellow;
}
.ts136 {
  font-family: Consolas;
  color: Blue;
  background-color: Yellow;
}
.ts137 {
  font-family: Consolas;
  color: #a31515;
}
.ts138 {
  font-family: Tahoma;
  font-size: 11pt;
  color: Red;
}
.ts139 {
  font-family: Tahoma;
  font-size: 11pt;
}
.ts140 {
  font-family: Tahoma;
  font-size: 11pt;
  text-decoration: underline;
}
.ts141 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts142 {
  font-family: Tahoma;
}
.ts143 {
  font-family: 'Courier New';
  font-weight: bold;
  color: Blue;
}
.ts144 {
  font-family: Tahoma;
  color: Red;
  background-color: #ffff5b;
}
.ts145 {
  font-family: Tahoma;
  color: Black;
  background-color: #ffff5b;
}
.ts146 {
  font-family: Tahoma;
  color: Black;
  background-color: Yellow;
}
.ts147 {
  font-family: Tahoma;
  background-color: #d6d4ca;
}
.ts148 {
  font-family: Tahoma;
  font-size: 12pt;
  color: Black;
}
.ts149 {
  font-family: Tahoma;
  font-size: 14pt;
  color: #0070c0;
}
.ts150 {
  font-family: Tahoma;
  font-weight: bold;
  color: #7f7f7f;
}
.ts151 {
  font-family: Tahoma;
}
.ts152 {
  font-family: Tahoma;
  font-weight: bold;
  color: Red;
}
.ts153 {
  font-family: Tahoma;
  font-style: italic;
}
.ts154 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts155 {
  font-family: Tahoma;
  font-weight: bold;
  color: #92d050;
}
.ts156 {
  font-family: Tahoma;
  font-style: italic;
  color: Black;
}
.ts157 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts158 {
  font-family: Tahoma;
  font-weight: bold;
  color: Red;
}
.ts159 {
  font-family: Tahoma;
  color: #1f497d;
}
.ts160 {
  font-family: Tahoma;
  font-weight: bold;
  color: #c0504d;
}
.ts161 {
  font-family: Tahoma;
  font-weight: bold;
  color: #00b050;
}
.ts162 {
  font-family: Tahoma;
  font-weight: bold;
  font-style: italic;
  color: #0070c0;
}
.ts163 {
  font-family: 'Segoe UI';
  font-weight: bold;
  color: #1f497d;
}
.ts164 {
  font-family: Tahoma;
  font-size: 20pt;
  font-weight: bold;
  color: #1f497d;
}
.ts165 {
  font-family: Tahoma;
  font-size: 14pt;
  font-weight: bold;
}
.ts166 {
  font-family: Tahoma;
  font-size: 14pt;
  font-weight: bold;
}
.ts167 {
  font-family: Tahoma;
  font-size: 14pt;
  font-weight: bold;
}
.ts168 {
  font-size: 12pt;
  color: Black;
}
.hs0 {
  font-family: Verdana;
  text-decoration: none;
  color: #337e91;
}
a.hs0:hover {
  color: Black;
}
.hs1 {
  font-family: Tahoma;
  text-decoration: underline;
  color: Blue;
}
.hs2 {
  font-family: Tahoma;
  font-size: 12pt;
  text-decoration: underline;
  color: Blue;
}
.hs3 {
  font-family: Tahoma;
  text-decoration: underline;
  color: Blue;
}
.hs4 {
  font-family: Tahoma;
  font-weight: bold;
  text-decoration: underline;
  color: Blue;
}
.hs5 {
  font-family: Tahoma;
  font-weight: bold;
  text-decoration: underline;
  color: Blue;
}
.hs6 {
  font-family: Tahoma;
  font-size: 11pt;
  text-decoration: underline;
  color: Blue;
}
.hs7 {
  font-family: Tahoma;
  text-decoration: underline;
  color: Blue;
  background-color: Yellow;
}
.hs8 {
  font-family: 'Segoe UI';
  text-decoration: underline;
  color: Blue;
}
.hs9 {
  font-family: 'Segoe UI';
  text-decoration: underline;
  color: Blue;
}
.hs10 {
  font-family: Tahoma;
  font-size: 14pt;
  text-decoration: underline;
  color: Blue;
}
.hs11 {
  font-family: Tahoma;
  font-size: 14pt;
  font-weight: bold;
  text-decoration: underline;
  color: Blue;
}
.ps0 {
  padding-right: 1px;
  padding-left: 1px;
  line-height: 1.25;
}
.ps1 {
  padding-top: 2px;
  padding-right: 1px;
  padding-left: 6px;
  line-height: 1.25;
  font-size: 8pt;
}
.ps2 {
  padding-top: 2px;
  padding-right: 1px;
  padding-bottom: 2px;
  padding-left: 6px;
  line-height: 1.25;
}
.ps3 {
  padding-right: 6px;
  padding-left: 1px;
  text-align: right;
  line-height: 1.25;
  font-size: 8pt;
}
.ps4 {
  padding-right: 1px;
  padding-left: 1px;
  line-height: 1.25;
  font-size: 4pt;
}
.ps5 {
  padding-right: 1px;
  padding-left: 1px;
  line-height: 1.25;
  font-size: 11pt;
}
.ps6 {
  padding-right: 1px;
  padding-left: 1px;
  text-align: center;
  line-height: 1.25;
  font-size: 11pt;
}
.ps7 {
  padding-right: 1px;
  padding-left: 1px;
  text-align: center;
  line-height: 1.25;
}
.ps8 {
  text-align: center;
  line-height: 1.25;
  font-size: 11pt;
}
.ps9 {
  padding-top: 3px;
  padding-right: 2px;
  padding-left: 2px;
  text-align: center;
  line-height: 1.25;
}
.ps10 {
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  line-height: 1.25;
}
.ps11 {
  padding-right: 2px;
  padding-left: 2px;
  line-height: 1.25;
  font-size: 10pt;
}
.ps12 {
  padding-right: 2px;
  padding-left: 2px;
  line-height: 1.25;
  font-size: 11pt;
}
.ps13 {
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  line-height: 1.25;
  font-size: 11pt;
}
.ps14 {
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 30px;
  line-height: 1.25;
}
.ps15 {
  padding-right: 1px;
  padding-left: 30px;
  line-height: 1.25;
  font-size: 11pt;
}
.ps16 {
  padding-right: 1px;
  padding-left: 30px;
  line-height: 1.25;
}
.ps17 {
  padding-right: 1px;
  padding-left: 1px;
  line-height: 1.5;
  font-size: 11pt;
}
.ps18 {
  padding-right: 1px;
  padding-left: 1px;
  line-height: 1.5;
}
.ps19 {
  padding-right: 2px;
  padding-left: 30px;
  line-height: 1.25;
  font-size: 10pt;
}
.ps20 {
  text-align: center;
}
.ps21 {
  text-align: center;
  font-size: 11pt;
}
.ps22 {
  padding-right: 1px;
  padding-left: 1px;
  line-height: 1.25;
  font-size: 9pt;
}
.ps23 {
  line-height: 1.25;
  font-size: 9pt;
}
.ps24 {
  line-height: 1.25;
}
.ps25 {
  padding-right: 1px;
  padding-left: 1px;
  text-align: center;
  line-height: 1.25;
  font-size: 4pt;
}
.ps26 {
  padding-right: 1px;
  padding-left: 3px;
  line-height: 1.25;
  font-size: 11pt;
}
.ps27 {
  padding-right: 1px;
  padding-left: 3px;
  line-height: 1.25;
}
.ps28 {
  padding-right: 1px;
  padding-left: 1px;
  line-height: 1.25;
  font-size: 10pt;
}
.ps29 {
  padding-right: 1px;
  padding-left: 49px;
  text-indent: -0.251968503937008in;
  line-height: 1.25;
  font-size: 11pt;
}
.ps30 {
  padding-right: 1px;
  line-height: 1.25;
  font-size: 11pt;
}
.ps31 {
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  line-height: 1.25;
  font-size: 8pt;
}
.ps32 {
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  line-height: 1.25;
  font-size: 11pt;
}
.ps33 {
  padding-right: 5px;
  padding-left: 5px;
  line-height: 1.25;
}
.ps34 {
  padding-right: 5px;
  padding-left: 5px;
  line-height: 1.25;
  font-size: 10pt;
}
.ps35 {
  padding-right: 1px;
  line-height: 1.25;
}
.ps36 {
  font-size: 10pt;
}
.ps37 {
  padding-right: 5px;
  padding-left: 5px;
  line-height: 1.25;
  font-size: 8pt;
}
.ps38 {
  padding-right: 10px;
  padding-left: 30px;
  line-height: 1.25;
  font-size: 11pt;
}
.ps39 {
  padding-right: 10px;
  padding-left: 1px;
  line-height: 1.25;
  font-size: 11pt;
}
.ps40 {
  padding-right: 10px;
  padding-left: 1px;
  line-height: 1.25;
}
.ps41 {
  padding-right: 1px;
  padding-left: 0.5in;
  text-indent: -0.251968503937008in;
  font-size: 11pt;
}
.ps42 {
  padding-right: 1px;
  padding-left: 30px;
  font-size: 11pt;
}
.ps43 {
  padding-bottom: 7px;
  line-height: 1.25;
  font-size: 11pt;
}
.ps44 {
  padding-right: 10px;
  padding-left: 1px;
  line-height: 1.25;
  font-size: 9pt;
}
.ps45 {
  padding-right: 10px;
  padding-left: 30px;
  line-height: 1.25;
}
.ps46 {
  padding-left: 30px;
  font-size: 11pt;
}
.ps47 {
  padding-left: 0.5in;
  text-indent: -0.251968503937008in;
  font-size: 11pt;
}
.ps48 {
  padding-right: 1px;
  padding-left: 30px;
  line-height: 1.25;
  font-size: 10pt;
}
.ps49 {
  padding-bottom: 7px;
  padding-left: 30px;
  line-height: 1.25;
}
.ps50 {
  padding-left: 30px;
  line-height: 1.25;
}
.ps51 {
  padding-left: 1px;
  line-height: 1.25;
}
.ps52 {
  font-size: 11pt;
}
.ps53 {
  padding-left: 30px;
}
.ps54 {
  padding-right: 1px;
  padding-left: 1px;
}
.ps55 {
  padding-left: 30px;
  line-height: 1.25;
  font-size: 11pt;
}
.ps56 {
  padding-right: 1px;
  font-size: 11pt;
}
.ps57 {
  padding-right: 1px;
  padding-left: 30px;
}
.ps58 {
  padding-bottom: 7px;
  line-height: 1.25;
}
.ps59 {
  padding-right: 1px;
}
.ps60 {
  padding-right: 1px;
  padding-left: 1px;
  font-size: 11pt;
}
.ps61 {
  padding-right: 1px;
  padding-left: 1px;
  font-size: 9pt;
}
.ps62 {
  text-align: center;
  line-height: 1.25;
}
.ps63 {
  padding-right: 1px;
  padding-left: 100px;
  line-height: 1.25;
  font-size: 11pt;
}
.ps64 {
  padding-right: 1px;
  padding-left: 1px;
  line-height: 1.5;
  font-size: 10pt;
}
.ps65 {
  padding-right: 1px;
  padding-left: 100px;
  line-height: 1.25;
}
.ps66 {
  padding-right: 1px;
  padding-left: 120px;
  line-height: 1.25;
}
.ps67 {
  font-size: 4pt;
}
.block0 {
  padding: 0 1px 0 1px;
}
.block1 {
  padding: 0 1px 0 30px;
}
.block2 {
  padding: 0 1px 0 0;
}
.block3 {
  padding: 0 0 7px 0;
}
.block4 {
  padding: 0 10px 0 1px;
}
.hline0 {
  width: 100%;
  height: 0px;
  margin: 8px auto;
  border-style: solid;
  border-width: 1px;
  border-top-color: DimGray;
  border-right-color: #e3e3e3;
  border-bottom-color: #e3e3e3;
  border-left-color: DimGray;
}
.tbl0 {
  width: 100%;
  border-collapse: collapse;
  border-style: none;
}
.tbl0 > tbody > tr.row0 {
  border-style: none;
}
.tbl0 > tbody > tr > td.cell0 {
  width: 15px;
  vertical-align: top;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell1 {
  vertical-align: top;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell2 {
  width: 100px;
  vertical-align: middle;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell3 {
  vertical-align: middle;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell4 {
  height: 42pt;
  vertical-align: top;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell5 {
  height: 0.395833333333333in;
  vertical-align: middle;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell6 {
  height: 22px;
  vertical-align: middle;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell7 {
  height: 2.83333333333333in;
  vertical-align: middle;
  border-style: none;
}
.tbl1 {
  width: 100%;
  border-collapse: collapse;
  border-style: solid;
  border-width: 2px;
  border-color: #bdcbdb;
}
.tbl1 > tbody > tr.row0 {
  border-style: none;
}
.tbl1 > tbody > tr > td.cell0 {
  width: 6px;
  vertical-align: top;
  border-style: none;
  background-color: White;
}
.tbl1 > tbody > tr > td.cell1 {
  vertical-align: top;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 3px;
  border-bottom-color: #e6e6e6;
  background-color: #e4eef6;
}
.tbl1 > tbody > tr > td.cell2 {
  vertical-align: top;
  border-style: none;
  background-color: White;
}
.tbl1 > tbody > tr > td.cell3 {
  width: 6px;
  height: 22px;
  vertical-align: top;
  border-style: none;
  background-color: #c5dbef;
}
.tbl1 > tbody > tr > td.cell4 {
  vertical-align: middle;
  border-style: none;
  background-color: #c5dbef;
}
.tbl1 > tbody > tr > td.cell5 {
  width: 6px;
  vertical-align: top;
  border-style: none;
  background-color: #c5dbef;
}
.tbl2 {
  border-collapse: collapse;
  border-style: none;
}
.tbl2 > tbody > tr.row0 {
  border-style: none;
}
.tbl2 > tbody > tr > td.cell0 {
  width: 3.92in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell1 {
  width: 7.16666666666667in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell2 {
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell3 {
  width: 0.645833333333333in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell4 {
  width: 4.57291666666667in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell5 {
  width: 788px;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell6 {
  width: 5.72916666666667in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell7 {
  width: 5.72916666666667in;
  height: 22px;
  vertical-align: top;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell8 {
  width: 5.73in;
  height: 22px;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell9 {
  width: 5.73in;
  height: 22px;
  vertical-align: top;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell10 {
  width: 6.5625in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell11 {
  width: 4.33333333333333in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell12 {
  width: 7.20833333333333in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell13 {
  width: 3.67708333333333in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell14 {
  width: 7.20833333333333in;
  height: 22px;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell15 {
  width: 3.67708333333333in;
  height: 22px;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell16 {
  width: 6.98958333333333in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell17 {
  width: 3.90625in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell18 {
  width: 6.98958333333333in;
  height: 22px;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell19 {
  width: 3.90625in;
  height: 22px;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell20 {
  width: 6.97916666666667in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell21 {
  width: 3.91666666666667in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell22 {
  width: 8.17708333333333in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell23 {
  width: 2.71875in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell24 {
  width: 7.125in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell25 {
  width: 3.76041666666667in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell26 {
  width: 4.40625in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell27 {
  width: 6.6875in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell28 {
  width: 7.65625in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell29 {
  width: 3.23958333333333in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell30 {
  width: 7.65625in;
  height: 22px;
  vertical-align: top;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell31 {
  width: 4.86458333333333in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell32 {
  width: 6.02083333333333in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell33 {
  width: 7.65625in;
  height: 22px;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell34 {
  width: 3.23958333333333in;
  height: 22px;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell35 {
  width: 0.645833333333333in;
  vertical-align: middle;
  border-style: none;
  background-color: #ffff5b;
}
.tbl2 > tbody > tr > td.cell36 {
  width: 10.6in;
  vertical-align: middle;
  border-style: none;
  background-color: #ffff5b;
}
.tbl2 > tbody > tr > td.cell37 {
  width: 0.645833333333333in;
  height: 1.02083333333333in;
  vertical-align: middle;
  border-style: none;
  background-color: #ffff5b;
}
.tbl2 > tbody > tr > td.cell38 {
  width: 10.6in;
  height: 1.02083333333333in;
  vertical-align: middle;
  border-style: none;
  background-color: #ffff5b;
}
.tbl2 > tbody > tr > td.cell39 {
  width: 10.6in;
  vertical-align: bottom;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell40 {
  width: 10.66in;
  height: 0.510416666666667in;
  vertical-align: top;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell41 {
  width: 41.25pt;
  vertical-align: top;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell42 {
  width: 561.75pt;
  vertical-align: top;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell43 {
  width: 21.75pt;
  vertical-align: top;
  border-style: none;
  background-color: Yellow;
}
.tbl2 > tbody > tr > td.cell44 {
  width: 762.75pt;
  vertical-align: top;
  border-style: none;
  background-color: Yellow;
}
.tbl2 > tbody > tr > td.cell45 {
  width: 21.75pt;
  vertical-align: top;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell46 {
  width: 762.75pt;
  vertical-align: top;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell47 {
  width: 21.75pt;
  height: 0.22in;
  vertical-align: top;
  border-style: none;
  background-color: Yellow;
}
.tbl2 > tbody > tr > td.cell48 {
  width: 762.75pt;
  height: 0.22in;
  vertical-align: top;
  border-style: none;
  background-color: Yellow;
}
.tbl2 > tbody > tr > td.cell49 {
  width: 21.75pt;
  height: 45px;
  vertical-align: top;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell50 {
  width: 762.75pt;
  height: 45px;
  vertical-align: top;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell51 {
  width: 21.75pt;
  height: 0.208333333333333in;
  vertical-align: top;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell52 {
  width: 762.75pt;
  height: 0.208333333333333in;
  vertical-align: top;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell53 {
  width: 525px;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell54 {
  width: 522px;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell55 {
  width: 5.91666666666667in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell56 {
  width: 455px;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell57 {
  width: 5.22916666666667in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell58 {
  width: 521px;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell59 {
  width: 5.86458333333333in;
  vertical-align: middle;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell60 {
  width: 460px;
  vertical-align: middle;
  border-style: none;
}
.tbl3 {
  width: 100%;
  border-collapse: collapse;
  border-top-style: dotted;
  border-right-style: none;
  border-bottom-style: dotted;
  border-left-style: none;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: Silver;
  border-bottom-color: Silver;
}
.tbl3 > tbody > tr.row0 {
  border-style: none;
}
.tbl3 > tbody > tr > td.cell0 {
  width: 56px;
  height: 56px;
  vertical-align: top;
  border-style: none;
}
.tbl3 > tbody > tr > td.cell1 {
  vertical-align: middle;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 1px;
  border-bottom-color: Gray;
}
.tbl3 > tbody > tr > td.cell2 {
  vertical-align: top;
  border-style: none;
}
.tbl3 > tbody > tr > td.cell3 {
  width: 49px;
  height: 49px;
  vertical-align: top;
  border-style: none;
}
.tbl3 > tbody > tr > td.cell4 {
  height: 21.75pt;
  vertical-align: middle;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 1px;
  border-bottom-color: Gray;
}
.tbl4 {
  width: 100%;
  border-collapse: collapse;
  border-top-style: dotted;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-width: 1px;
  border-top-color: Silver;
}
.tbl4 > tbody > tr.row0 {
  border-style: none;
}
.tbl4 > tbody > tr > td.cell0 {
  width: 51px;
  height: 51px;
  vertical-align: top;
  border-style: none;
}
.tbl4 > tbody > tr > td.cell1 {
  vertical-align: middle;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 1px;
  border-bottom-color: Gray;
}
.tbl4 > tbody > tr > td.cell2 {
  vertical-align: top;
  border-style: none;
}
.tbl4 > tbody > tr > td.cell3 {
  width: 49px;
  height: 49px;
  vertical-align: top;
  border-style: none;
}
.tbl4 > tbody > tr > td.cell4 {
  width: 49px;
  height: 49px;
  vertical-align: middle;
  border-style: none;
}
.tbl4 > tbody > tr > td.cell5 {
  vertical-align: middle;
  border-style: none;
}
.tbl5 {
  border-collapse: collapse;
  border-style: none;
  background-color: #ffff73;
}
.tbl5 > tbody > tr.row0 {
  border-style: none;
}
.tbl5 > tbody > tr > td.cell0 {
  width: 0.645833333333333in;
  vertical-align: middle;
  border-style: none;
}
.tbl5 > tbody > tr > td.cell1 {
  width: 10.6in;
  vertical-align: bottom;
  border-style: none;
}
.tbl5 > tbody > tr > td.cell2 {
  width: 10.66in;
  height: 0.510416666666667in;
  vertical-align: top;
  border-style: none;
}
.tbl5 > tbody > tr > td.cell3 {
  width: 10.6in;
  vertical-align: middle;
  border-style: none;
}
.tbl6 {
  border-collapse: collapse;
  border-style: solid;
  border-width: 2px;
  border-color: #bdcbdb;
}
.tbl6 > tbody > tr.row0 {
  border-style: none;
}
.tbl6 > tbody > tr > td.cell0 {
  width: 7px;
  vertical-align: top;
  border-style: none;
  background-color: White;
}
.tbl6 > tbody > tr > td.cell1 {
  width: 1259px;
  vertical-align: top;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 3px;
  border-bottom-color: #e6e6e6;
  background-color: #e4eef6;
}
.tbl6 > tbody > tr > td.cell2 {
  width: 1259px;
  vertical-align: top;
  border-style: none;
  background-color: White;
}
.tbl6 > tbody > tr > td.cell3 {
  width: 7px;
  height: 22px;
  vertical-align: top;
  border-style: none;
  background-color: #c5dbef;
}
.tbl6 > tbody > tr > td.cell4 {
  width: 1259px;
  vertical-align: middle;
  border-style: none;
  background-color: #c5dbef;
}
.tbl6 > tbody > tr > td.cell5 {
  width: 7px;
  vertical-align: top;
  border-style: none;
  background-color: #c5dbef;
}
.tbl6 > tbody > tr > td.cell6 {
  width: 7px;
  height: 58px;
  vertical-align: top;
  border-style: none;
  background-color: White;
}
.tbl6 > tbody > tr > td.cell7 {
  width: 1259px;
  height: 58px;
  vertical-align: top;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 3px;
  border-bottom-color: #e6e6e6;
  background-color: #e4eef6;
}
.tbl7 {
  width: 98.9%;
  border-spacing: 2px;
  border-collapse: separate;
  border-style: none;
}
.tbl7 > tbody > tr.row0 {
  border-style: none;
}
.tbl7 > tbody > tr > td.cell0 {
  width: 60px;
  vertical-align: top;
  padding: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #c8cdde;
  background-color: #efeff7;
}
.tbl7 > tbody > tr > td.cell1 {
  width: 33%;
  vertical-align: top;
  padding: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #c8cdde;
  background-color: #efeff7;
}
.tbl7 > tbody > tr > td.cell2 {
  vertical-align: top;
  padding: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #c8cdde;
  background-color: #efeff7;
}
.tbl7 > tbody > tr > td.cell3 {
  vertical-align: top;
  padding: 2px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #d5d5d3;
  background-color: #f7f7ff;
}
.tbl8 {
  width: 100%;
  border-spacing: 2px;
  border-collapse: separate;
  border-style: none;
}
.tbl8 > tbody > tr.row0 {
  border-style: none;
}
.tbl8 > tbody > tr > td.cell0 {
  vertical-align: top;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #c8cdde;
  background-color: #efeff7;
}
.tbl8 > tbody > tr > td.cell1 {
  vertical-align: top;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-color: White;
  border-bottom-color: #d5d5d3;
  background-color: #f7f7ff;
}
.tbl9 {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  border-color: transparent;
}
.tbl9 > tbody > tr.row0 {
  border-style: none;
}
.tbl9 > tbody > tr > td.cell0 {
  width: 51px;
  height: 51px;
  vertical-align: top;
  border-style: none;
}
.tbl9 > tbody > tr > td.cell1 {
  vertical-align: middle;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-width: 1px;
  border-bottom-color: Gray;
}